// Sizes
$size-normal: 1.6rem;
$s-size: $size-normal / 2;
$m-size: $s-size * 2;
$l-size: $s-size * 3;
$small-screen-breakpoint: 45rem;
$desktop-width: 70rem;
$mobile-width: 39rem;

// Colors
$lightgrey: #f5f5f5;
$ad-green: #0abf53;
$ad-black: #00112c;
